

#mynav{
/*	background-color: #134ccc;*/
	background-color: #1c212a;
    
}

div#about{
    height: 45em;
}


a.nav-item-child{
    color: white!important;
}

#skills{
    height: 45em;
}

div#skillsboxes{
    margin-top:8%;
}

div.box{
    margin-bottom: 10px;
    padding-top: 15px;
    border: solid 1px #000;
    border-radius: 10px;
    width: 20em;
    height: 20em;
}

div.box > h3, h5{
    color: white!important;
}

#about a{
    color: blue!important;
}