body {
	background: linear-gradient(360deg, rgb(153, 178, 231), #fff);
	height: 100%;
}

#header {
	background-color: #3E5B99;
	display: flex;
	width: 100%;
	height: 82px;
}

#brand {
	font-size: 40px;
}

#nav {
	color: white;
	background-color: #3E5B99;
	display: flex;
	justify-content: space-between;
}

#nav ul li a {
	color: white;

}

header .label {
	color: white;
}

#btn_enter {
	display: flex;
	align-items: flex-end;
}

#main-section {
	display: flex;
	padding-top: 50px;
	padding-bottom: 200px;
	justify-content: space-around;
}

.right {
	float: right;
}

.left {
	float: left;
}

#footer{
	align-items: center;
	background-color: white;
	display: flex;
	height: 50px;
	justify-content: center;
	width: 100%;
	flex-direction: flex-end;
}

#connect-facebook{
	width: 40%;
}

#connect-text{
	font-size: large;
	font-weight: bold;
	color: #3E5B99;
	margin-bottom: 50px;
}


@keyframes appear {
   0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.anima {
  opacity: 1;
  animation-duration: 3s;
  animation-name: appear;
}


